body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #d32f2f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.mision-vision {
    margin-top: 15px;

}

.proyectos h2 {

    padding: 20px;
    background-color: #fff;

}

.protectos article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.proyectos img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.contacto {
    background-color: #f1f1f1;
    padding: 20px;

}
.contacto h2{
    text-align: center;
}

form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, button{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    background-color: #d32f2f;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;

}

button:hover {
    background-color: #b71c1c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
}

fotter .redes a {
    color: #fff;
    margin: 0 10px;
    text-decoration:  none;
}

footer .redes a:hover {
    text-decoration: underline;
}

@media(max-width: 768px) {
    header h1 {
        font-size: 2em;
    }


    .protectos article {
        text-align: center;
    }

    form {
        width: 100%;
    }
}